html.swipebox {
	overflow: hidden !important;
}

#swipebox-overlay img {
	border: none !important;
}

#swipebox-overlay,
#swipebox-slider {
	top: 0; left: 0;
	width: 100%; height: 100%;
}

#swipebox-overlay {
	position: fixed;
	z-index: 1000 !important;

	overflow: hidden;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	transition: opacity 1s ease;
}

#swipebox-slider {
	position: absolute;
	display: none;

	white-space: nowrap;

	-webkit-transition: transform .4s ease;
	-moz-transition: transform .4s ease;
	-o-transition: transform .4s ease;
	transition: transform .4s ease;
}

#swipebox-slider .slide {
	display: inline-block;
	width: 100%;
	height: 100%;

	background: url("img/loader.gif") no-repeat 50% 50%;

	line-height: 1px;
	text-align: center;
}

#swipebox-slider .slide:before {
	content: "";
	display: inline-block;
	width: 1px;
	height: 50%;
	margin-right: -1px;
}

#swipebox-slider img,
#swipebox-slider .swipebox-video-container {
	display: inline-block;
	width: auto;
	height: auto;
	max-height: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;

	vertical-align: middle;
}

#swipebox-slider .swipebox-video-container {
	width: 100%;
	max-width: 1140px;
	max-height: 100%;
	padding: 5%;

	background: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


#swipebox-slider .swipebox-video {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;

	overflow: hidden;
}

#swipebox-slider iframe {
	position: absolute;
	top: 0; left: 0;
	width: 100% !important;
	height: 100% !important;
}

#swipebox-action,
#swipebox-caption {
	position: absolute;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 50px;

	-webkit-transition: transform .5s ease;
	-moz-transition: transform .5s ease;
	-o-transition: transform .5s ease;
	transition: transform .5s ease;
}

#swipebox-action {
	bottom: -50px;
}
#swipebox-action.visible-bars {
	-webkit-transform: translate3d(0, -50px, 0);
	-o-transform: translate3d(0, -50px, 0);
	transform: translate3d(0, -50px, 0);
}
#swipebox-action.force-visible-bars {
	bottom: 0 !important;
}

#swipebox-caption {
	top: -50px;
	text-align: center;
}
#swipebox-caption.visible-bars {
	-webkit-transform: translate3d(0, 50px, 0);
	-o-transform: translate3d(0, 50px, 0);
	transform: translate3d(0, 50px, 0);
}
#swipebox-caption.force-visible-bars {
	top: 0 !important;
}

#swipebox-prev,
#swipebox-next,
#swipebox-close {
	position: absolute;
	top: 0;
	width: 50px;
	height: 50px;
	border: 0 !important;

	background-image: url("img/icons.png");
	background-repeat: no-repeat;

	text-decoration: none !important;
	cursor: pointer;
}

#swipebox-close {
	background-position: 15px 12px;
	left: 40px;
}

#swipebox-prev {
	background-position: -32px 13px;
	right: 100px;
}

#swipebox-next {
	background-position: -78px 13px;
	right: 40px;
}

#swipebox-action .disabled {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
	opacity: .3;
}

#swipebox-slider.rightSpring {
	-moz-animation: rightSpring .3s;
	-webkit-animation: rightSpring .3s;
}

#swipebox-slider.leftSpring {
	-moz-animation: leftSpring .3s;
	-webkit-animation: leftSpring .3s;
}

@-moz-keyframes rightSpring {
	0% {
		margin-left: 0;
	}

	50% {
		margin-left: -30px;
	}

	100% {
		margin-left: 0;
	}
}

@-moz-keyframes leftSpring {
	0% {
		margin-left: 0;
	}

	50% {
		margin-left: 30px;
	}

	100% {
		margin-left: 0;
	}
}

@-webkit-keyframes rightSpring {
	0% {
		margin-left: 0;
	}

	50% {
		margin-left: -30px;
	}

	100% {
		margin-left: 0;
	}
}

@-webkit-keyframes leftSpring {
	0% {
		margin-left: 0;
	}

	50% {
		margin-left: 30px;
	}

	100% {
		margin-left: 0;
	}
}

@media screen and (max-width: 800px) {
	#swipebox-close {
		left: 0;
	}

	#swipebox-prev {
		right: 60px;
	}

	#swipebox-next {
		right: 0;
	}
}


/* Skin
--------------------------*/
#swipebox-overlay {
	background: #0d0d0d;
}

#swipebox-action,
#swipebox-caption {
	text-shadow: 1px 1px 1px #000;
	background-color: #0d0d0d;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0d0d0d), color-stop(100%, #000000));
	background-image: -webkit-linear-gradient(#0d0d0d, #000000);
	background-image: -moz-linear-gradient(#0d0d0d, #000000);
	background-image: -o-linear-gradient(#0d0d0d, #000000);
	background-image: linear-gradient(#0d0d0d, #000000);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
	opacity: .95;
}

#swipebox-action {
	border-top: 1px solid rgba(255, 255, 255, .2);
}

#swipebox-caption {
	border-bottom: 1px solid rgba(255, 255, 255, .2);
	color: #fff !important;
	font-size: 15px;
	line-height: 43px;
	font-family: Helvetica, Arial, sans-serif;
}
